[Desktop Entry]
Type=Application
Version=1.0
Name=Install CaelumOS
Name[zh_CN]=安装 CaelumOS
GenericName=Live Installer
Comment=Install CaelumOS with Calamares.
Comment[zh_CN]=使用 Calamares 安装 CaelumOS。
Exec=calamares_polkit
Icon=calamares
Terminal=false
StartupNotify=true
Type=Application
Categories=Qt;System;
